@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 80px);
  max-width: 1200px;
  padding: 10px 40px;
  background: linear-gradient(135deg, #ff85a2, #ffb3c6);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  z-index: 100;
}

.logo {
  font-size: 20px;
  color: #6278c0;
  font-weight: 650;
  text-decoration: none;
  transition: transform 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
  color: #fff;
}

span {
  color: #ff85a2;
  font-style: italic;
}

.navbar a {
  font-size: 18px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 600;
  margin: 0 20px;
  transition: transform 0.5s ease;
}

.navbar a:hover {
  transform: translateY(-3px);
  color: #6278c0;
}

.home {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 96vh;
  gap: 4em;
  padding: 100px 6% 40px;
  color: #fff;
  background: linear-gradient(135deg, #546ab4, #19203c);
}

#menu-icon {
  display: none;
}

.home-detail {
  max-width: 800px;
}

.home-detail h3 {
  font-size: 20px;
}

.home-detail h1 {
  font-size: 55px;
}

.home-detail h2 {
  font-size: 33px;
}

.home-detail p {
  font-size: 19px;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  padding: 9px 31px;
  background: #ffadc0;
  border: 2px solid #ffadc0;
  border-radius: 40px;
  color: #25366f;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
  font-size: 20px;
  margin-top: 20px;
}

.btn:hover {
  background: transparent;
  box-shadow: none;
  color: #ffadc0;
}

.img-box img {
  position: relative;
  width: 370px;
  transition: transform 0.35s cubic-bezier(0.16, 1, 0.3, 1);
}

.img-box img:hover {
  transform: scale(1.09);
}

/* ABOUT */
.about {
  background: linear-gradient(135deg, #ffd6e0, #ff95b0, #ff5d83);
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  gap: 4em;
  padding: 30px 6% 40px;
}

.about-content h2 {
  display: inline-block;
  text-align: left;
  color: #fff;
  font-size: 33px;
  padding: 9px 30px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  box-shadow: 0 12px 25px rgba(120, 120, 120, 0.2);
}

.about-content p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 1em 0 1em;
}

.about-img img {
  position: relative;
  width: 370px;
  transition: transform 0.35s cubic-bezier(0.16, 1, 0.3, 1);
}

.about-img img:hover {
  transform: scale(0.9);
}

.btn2 {
  display: inline-block;
  padding: 9px 31px;
  background: #25366f;
  border: 2px solid #25366f;
  border-radius: 40px;
  color: #ffadc0;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 0.3s ease;
}

.btn2::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #25366f;
  border-radius: 10rem;
  z-index: -2;
}

.btn2::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0%;
  background-color: #151f45;
  border-radius: 10rem;
  transition: width 0.3s ease;
  z-index: -1;
}

.btn2:hover::before {
  width: 100%;
}

span2 {
  color: #25366f;
  font-style: italic;
}

/* PORTO */

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 6% 40px;
  background: #ffffff;
}

.portfolio h2 {
  color: #25366f;
  margin-bottom: 40px;
  font-size: 33px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio-box {
  background: #ffffff;
  border-radius: 24px;
  padding: 17px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.portfolio-box:hover {
  transform: translateY(-6px);
}

.portfolio-box img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 20px;
  object-fit: cover;
}

.portfolio-content h4 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin-bottom: 13px;
  display: inline-block;
  padding: 5px 22px;
  background: linear-gradient(135deg, #ffb0c4, #ff5d83);
  border-radius: 30px;
}

.portfolio-content p {
  font-size: 16px;
  color: #25366f;
  line-height: 1.6;
  font-weight: 700;
}

/* CERTIFICATE */
.certificate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 6% 40px;
  background: #ffffff;
  color: #ff6c8e;
  text-align: center;
}

.certificate h2 {
  margin-bottom: 40px;
  font-size: 33px;
}

.certificate-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.certificate-card {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  padding: 13px 13px 5px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.certificate-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.certificate-card img {
  width: 100%;

  object-fit: cover;
  border-radius: 8px;
}

/* TOOLS */
.tools-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 6% 40px;

  background: #ffffff;
}

.tools-title {
  color: #1e2e5f;
  font-size: 33px;
  margin-bottom: 27px;
}

.tools-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.tool-oval {
  width: 120px;
  height: 170px;
  background: white;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}

.tool-oval:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.tool-oval img {
  max-height: 75px;
}

.section-white {
  position: relative;
}

/* CONTACT  */
.contact-form {
  background: linear-gradient(135deg, #546ab4, #19203c);
  padding: 30px 6% 40px;
  display: flex;
  justify-content: center;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.contact-left h2 {
  font-size: 33px;
  color: #ffffff;
  padding: 9px 30px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  display: inline-block;
  text-align: left;
  margin-bottom: 16px;
  box-shadow: 0 12px 25px rgba(30, 30, 30, 0.2);
}

.contact-left h3 {
  font-size: 37px;
  margin-bottom: 16px;
  color: #ffffff;
}

.contact-left h3 span {
  color: #ffadc0;
}

.contact-left p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 30px;
}

.contact-info .info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 15px;
}

.info-item p {
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}

.contact-info .icon {
  width: 40px;
  height: 40px;
  background: #ffadc0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.contact-right form {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.contact-right .input-box {
  display: flex;
  flex-direction: column;
}

.contact-right .input-box input,
.contact-right textarea {
  width: 100%;
  padding: 0.8em 1.5em;
  font-size: 18px;
  color: #25366f;
  background: #fafafa;
  border-radius: 1.5rem;
  margin: 1rem 0;
  border: none;
  outline: none;
  resize: vertical;
  box-sizing: border-box;
}

.input-box-btn .btn {
  display: inline-block;
  padding: 9px 31px;
  background: #ffadc0;
  border: 2px solid #ffadc0;
  border-radius: 40px;
  color: #25366f;
  text-decoration: none;
  font-weight: 700;
  transition: 0.5s;
  font-size: 20px;
  margin: 1rem 0;
  transition: transform 0.35s ease;
}

.input-box-btn .btn:hover {
  transform: scale(1.1);
}

/* FOOTER */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 9%;
  background: linear-gradient(135deg, #ffc1d1, #ff5d83);
}

.footer-text {
  color: #25366f;
  font-size: 19px;
  text-align: center;
}

/* RIWAYAT */
.education {
  background-color: #ffffff;
  color: #ffffff;
  padding: 30px 6% 40px;
}

.education h2 {
  color: #25366f;
  margin-bottom: 40px;
  font-size: 33px;
  text-align: center;
}

.education-container {
  background: linear-gradient(135deg, #546ab4, #19203c);
  border-radius: 20px;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.education-item {
  display: inline-block;
  padding: 10px 20px 13px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.education-item:hover {
  transform: translateY(-6px);
}

.education-item h3 {
  font-size: 24px;
  margin-bottom: 0.3em;
}

.education-item h4 {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  padding: 5px 22px;
  background: linear-gradient(135deg, #ffb0c4, #ff5d83);
  border-radius: 30px;
}

/* ABOUT2 */
.about2 {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 90vh;
  gap: 4em;
  padding: 30px 6% 40px;
  justify-content: center;
  background: linear-gradient(135deg, #ffacc1, #ff668a, #ff8fab);
}

.about2 .about-content p {
  font-size: 19px;
  margin-top: 20px;
}

.about-content .sosial-icons a {
  display: flex;
  padding: 8px;
  border-radius: 50%;
  font-size: 29px;
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
  background: #25366f;
  border: 2px solid #25366f;
  transition: transform 0.35s ease;
}

.about-content .sosial-icons > div {
  display: inline-flex;
}

.about-content .sosial-icons a:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .img-box img,
  .about-img img {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .home-detail h1 {
    font-size: 40px;
  }
}

@media (max-width: 860px) {
  .about-content h2 {
    font-size: 22px;
  }

  .btn,
  .btn2,
  .input-box-btn .btn {
    padding: 8px 15px;
    font-size: 15px;
    white-space: nowrap;
  }
}

@media (max-width: 750px) {
  .about-content h2 {
    font-size: 17px;
  }

  .certificate-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .certificate-card {
    padding: 10px 10px 3px;
  }

  .contact-form {
    grid-template-columns: 1fr; /* jadi satu kolom */
    gap: 30px;
  }
}

@media (max-width: 705px) {
  #menu-icon {
    display: block;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 13px;
    z-index: 20;
  }

  .contact-right .input-box input,
  .contact-right textarea {
    font-size: 20px;
    margin: 0.8rem 0;
  }

  .home {
    min-height: 100vh;
  }

  .tool-oval {
    width: 100px;
    height: 150px;
  }

  .portfolio-content h4,
  .portfolio-content p {
    font-size: 15px;
  }

  .portfolio .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 1rem;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 2rem;
  }

  .navbar {
    display: none;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #ff85a2, #ffb3c6);
    width: 90%;
    padding: 1.2em;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 15;
  }

  .home {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 1em;
  }

  .navbar a {
    color: white;
    margin: 10px 0;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
  }

  .navbar a:hover {
    transform: translateY(-3px);
    color: #6278c0;
  }

  .navbar.active {
    display: flex;
  }

  .home-detail h1 {
    font-size: 27px;
  }

  .home-detail h2,
  .portfolio h2,
  .tools-title,
  .contact-left h2,
  .education h2,
  .certificate h2,
  .future-plans h2 {
    font-size: 22px;
  }

  .contact-left h3 {
    font-size: 26px;
  }

  .img-box img,
  .about-img img {
    width: 240px;
  }

  .about {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    display: flex;
  }

  .about2 {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 1em;
    display: flex;
  }

  .home-detail .download-sosial {
    margin-bottom: 1rem;
  }

  .education-item h3 {
    font-size: 17px;
  }

  .education-item p {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  .education-container {
    grid-template-columns: 1fr;
  }

  .education-item h4 {
    font-size: 13px;
  }

  .certificate-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .img-box img,
  .about-img img {
    width: 230px;
  }

  .about-content .sosial-icons a {
    font-size: 20px;
  }

  .tool-oval {
    width: 80px;
    height: 110px;
  }

  .contact-left h2 {
    font-size: 17px;
  }

  .contact-left h3 {
    font-size: 21px;
  }

  .portfolio-content h4,
  .portfolio-content p {
    font-size: 11px;
  }

  .contact-right .input-box input,
  .contact-right textarea {
    font-size: 13px;
    margin: 0.6rem 0;
  }

  section.home .home-detail p,
  .about-content p,
  .tool-item p,
  .contact-left p,
  .about2 .about-content p,
  .footer-text {
    font-size: 13px;
  }
}

@media (max-width: 360px) {
  .portfolio-content h4,
  .portfolio-content p {
    font-size: 8px;
  }

  .education-item h4 {
    font-size: 10px;
  }

  .education-item h3 {
    font-size: 14px;
  }

  .education-item p {
    font-size: 11px;
  }

  .tool-oval {
    width: 60px;
    height: 80px;
  }

  .tool-oval img {
    max-height: 55px;
  }
}

@media (max-width: 336px) {
  .about-content h2 {
    font-size: 14px;
  }
}
